::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    color: #263238;
}

::selection {
    color: #FFF;
    background: #263238;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #37474F;
    overflow: hidden;
    outline: none;
    cursor: default;
    font-family: "Roboto", "BlinkMacSystemFont", "Arial", sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    height: 48px;
    background: #607D8B;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    transition: transform 320ms;
}

#search.active {
    transform: translateY(-64px);
}

#search_magnify {
    position: absolute;
    top: 12px;
    left: 16px;
    height: 24px;
    width: 24px;
    fill: #263238;
}

#search_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: calc(100% - 112px);
    margin: 0;
    padding: 16px 56px;
    color: #263238;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#search_clear {
    position: absolute;
    top: 4px;
    right: 8px;
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
    fill: #263238;
    cursor: pointer;
    transition: background 320ms;
    display: none;
}

#search_clear:active {
    background: rgba(0, 0, 0, 0.08);
}

#search_title,
#search_media {
    display: none;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#random {
    position: relative;
    float: left;
    height: 200px;
    width: calc(100% - 8px);
    padding: 0 4px;
    margin-bottom: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
}

#random_intro {
    display: inline-block;
    height: 200px;
    width: calc(100vw - 16px);
    margin: 0 4px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    overflow: hidden;
    white-space: normal;
    transform: perspective(0);
}

#random_intro_title {
    position: absolute;
    top: 24px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

#random_intro_year {
    position: absolute;
    top: 48px;
    right: 24px;
    left: 24px;
    color: #FFF;
    font-size: 72px;
    font-weight: 200;
    line-height: 72px;
    text-align: center;
}

#random_action {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 20px);
    height: 24px;
    width: 24px;
    padding: 8px;
    fill: #FFF;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    transition: background 320ms;
}

#random_action:active {
    background: rgba(255, 255, 255, 0.16);
}

.random {
    display: inline-block;
    height: 200px;
    width: calc(100vw - 32px);
    margin: 0 4px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    white-space: normal;
    transition: opacity 320ms;
    transform: perspective(0);
}

.random:active {
    opacity: 0.8;
}

.random > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.random > div {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 64px 32px 16px 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.title {
    position: relative;
    float: left;
    height: 24px;
    width: calc(100% - 32px);
    padding: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media {
    position: relative;
    float: left;
    height: 208px;
    width: calc(100% - 8px);
    padding: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
}

.media_item {
    display: inline-block;
    height: 200px;
    width: 96px;
    margin: 4px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    white-space: normal;
    transition: opacity 320ms;
    transform: perspective(0);
}

.media_item:active {
    opacity: 0.8;
}

.media_item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 144px;
    width: 96px;
    object-fit: cover;
    pointer-events: none;
}

.media_item > span {
    position: absolute;
    right: 8px;
    bottom: 8px;
    left: 8px;
    height: 42px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    word-wrap: break-word;
    overflow: hidden;
}

#blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: background 320ms, visibility 0ms 320ms;
}

#blocker.active {
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    transition: background 320ms, visibility 0ms;
}

#expand {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #37474F;
    visibility: hidden;
    transition: transform 320ms, visibility 0ms 320ms;
}

#expand.active {
    transform: translateY(-100%);
    visibility: visible;
    transition: transform 320ms, visibility 0ms;
}

#expand_backdrop {
    position: relative;
    float: left;
    height: calc(100% - 152px);
    width: 100%;
    object-fit: cover;
    object-position: top center;
    pointer-events: none;
}

#expand_info {
    position: relative;
    float: left;
    height: 152px;
    width: 100%;
}

#expand_poster {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 120px;
    width: 80px;
    border-radius: 2px;
    object-fit: cover;
    pointer-events: none;
}

#expand_name {
    position: absolute;
    top: 16px;
    right: 64px;
    left: 112px;
    height: 72px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
}

#expand_share {
    position: absolute;
    bottom: 16px;
    left: 112px;
    height: 36px;
    width: auto;
    max-width: calc(100% - 128px);
    padding: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background 320ms;
}

#expand_share:active {
    background: rgba(255, 255, 255, 0.16);
}

#expand_close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 24px;
    width: 24px;
    fill: #FFF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 320ms;
}

#expand_close:active {
    background: rgba(255, 255, 255, 0.08);
}

#expand_description {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% - 32px);
    padding: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#expand_images {
    position: relative;
    float: left;
    height: 240px;
    width: 100%;
    margin: 16px 0 8px 0;
    background: rgba(255, 255, 255, 0.08);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
}

#expand_images > img {
    display: inline-block;
    height: 240px;
    max-width: 100vw;
    object-fit: cover;
    pointer-events: none;
    white-space: normal;
}

#twitter {
    position: relative;
    float: left;
    height: 24px;
    width: 24px;
    margin: 24px calc(50% - 20px);
    padding: 8px;
    fill: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background 320ms;
}

#twitter:active {
    background: rgba(255, 255, 255, 0.08);
}

#tmdb {
    position: relative;
    float: left;
    height: auto;
    width: calc(100% - 32px);
    padding: 0 16px 16px 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

#snack {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: auto;
    padding: 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #323232;
    visibility: hidden;
    transition: transform 320ms, visibility 0ms 320ms;
}

#snack.active {
    transform: translateY(-100%);
    visibility: visible;
    transition: transform 320ms, visibility 0ms;
}

@media (min-width: 480px) {
    #expand {
        left: calc(50% - 224px) !important;
        width: 448px !important;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.24) !important;
    }
}

@media (min-width: 480px) and (min-height: 720px) {
    #expand {
        height: 640px !important;
    }
}

@media (min-width: 480px) {
    #search {
        right: calc(50% - 200px) !important;
        left: calc(50% - 200px) !important;
    }
    #random_intro,
    .random {
        width: 360px !important;
    }
}